*.o
*.out
build/
# 无扩展名的可执行文件
vecadd
vecadd_prof
hello
transpose
deviceQuery
bw_sweep
bench
bench1
bin/
build/
vectoradd
divergence
bandwith_scan
pinned
*.deb
# 实验数据
*.csv
*.png
#python
.venv/
__pycache__/

